// Fonts


//Color variables

$water: #42dcf4;
$grass: #39b24d;
$tomato: #d13e57;
$tangerine: #e56630;
$eggplant: #6f48af;
$miami: #51d6b9;

//Font Colors

$font-primary: grey;
$font-secondary: $miami;
$font-tertiary: $water;
