// Fonts

$font-stack-primary: 'Raleway', sans-serif;

//Color variables

$water: #42dcf4;
$grass: #39b24d;
$tomato: #d13e57;
$tangerine: #e56630;
$eggplant: #6f48af;
$miami: #51d6b9;
$white: #fff;
$grey: grey;

//Font Colors

$font-primary: $grey;
$font-secondary: $miami;
$font-tertiary: $water;

//Button Colors


  $default: $water;
  $success: $grass;
  $error: $tomato;
  $warning: $tangerine;
  $info: $eggplant;


//Button Border Radius



//Grid Colors

  $color-grid:(
  '12': $miami,
  '6': darken($water, 10%),
  '4': lighten($water, 10%),
  '3': lighten($eggplant, 10%),
  '5': lighten($grass, 10%),
  '7': lighten($tomato, 10%),
  '8': lighten($tangerine, 10%),
  );

//Breakpoints

$break-md: 768px;
