.btn--default {
  background-color:$default;
}

.btn--success {
  background-color:$success;
}

.btn--error {
  background-color:$error;
}

.btn--warning {
  background-color:$warning;
}

.btn--info {
  background-color:$info;
}

.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
    @extend %btn;
    @include mq{
      margin: 15px;
    }
  }

[type="submit"] {
  @include mq{
    width: auto;
  }
}
