
.form {
  @include flex($dir: column);
  @include mq{
    @include center;
  }
}

.form__input {
  border-style: none;
  border-bottom: solid 4px $miami;
  line-height: 3em;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

}

.form__label--hidden {
  display: none;
}
