  .img--avatar {
    width: 50%;
    margin: auto;
    @include mq{

    }
  }

  .img--frame{
    border: solid 1px $heading;
    padding: 10px;
    width: 100%;
  }

 .grid__row{
  @include mq{
    width: 90%;
    @include center;
  }
}

.img--logo{
  @include mq{
    width: 70%;
  }
}
