
.grid__col--9 {
  a {
    color: $font-primary;
    border-radius: $br-btn;
    width: 100%;
    line-height: 2em;
    &:hover {
      color: $white;
  }
}
}

.nav {
  @include center;
  @include mq{
    @include flex($dir:row);
    margin-right: 100px;
}
}

.nav__item{
  line-height: 2.5em;
  border-radius: $br-btn;
  &:hover {
    background-color: $miami;
  }
  &:hover a{
    color: $white;
  }
  @include mq{
    float: right;
    padding: 10px 10px;
    margin: 15px;
  }
}
