.link {
  color: $water;
}

.blockquote {
  font-style: italic;
  color: $font-primary;
  line-height: 1.25em;
  font-size: 1.2em;
  text-align: left;
  padding-left: 20px;
  border-left: solid 6px $miami;
}

.headline--secondary {
  text-align: left;
  color: $heading;
  font-weight: lighter;
  margin: 20px;
}

.headline--primary {
  text-align: left;
  padding-left: 20px;
  color: $miami;
  font-size: 1.5em;
}

.card {
  margin: 20px;
}

#images,
#buttons,
#grid {
  font-size: .9em;
  @include mq{
    margin-left: 70px;
    margin-bottom: 30px;
  }
}

#type {
  margin: 0;
}
