
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 2em;
  padding-left: 0;
  @include mq{
    float:right;
    margin: 0;
  }
}

p {
  text-align: left;
  line-height: 1.7em;
  color: $font-primary;
}

a {
  text-decoration: none;
}
